/* * {
    box-sizing: border-box;
} */

body {
    background-color: rgb(161, 159, 159);
    text-align: center;

}

h1 {
    text-decoration: underline;
    text-transform: uppercase;
}

.main {
    width: 500px;
    height: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: #fff;
    padding: 30px 10px 5px;
    border-radius: 0  0 30px;
       
}

h2 {
    font-style: italic;
}

.line {
    width: 480px;
    height: 1px;
    background-color: #000;
    margin-left: 20px;
    
    margin-top: -20px;
}

p {
    text-align:justify; 
    
}